@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&family=Space+Mono:wght@700&family=Ubuntu:wght@400;500;700&display=swap');
:root{
    --primary:rgb(36, 36, 36);
    --secondary:white;
    --tertiary:black;
    --bg:rgba(211, 211, 211, 0.72);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    /* overflow-y: hidden; */
}
img{
    width: 100%;
}
h1{
    font-size: 35px;
}
p{
    font-size: 17px;
}
a{
    text-decoration: none;
    color:black;
}
li{
    list-style-type: none;
}
.container{
    margin:0 auto;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
}
.navContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width:100%;
    padding:20px;
    z-index:4;
}
.navContainer svg{
    width:150px;
}
.navContainer p{
    font-weight: 600;
    background-color: var(--bg);
    padding:7px;
    border-radius: 10px;
}
.navContainer .modalNav{
    width:100%;
    height: 260vh;
    background-color: var(--primary);
    position: absolute;
    left: 0;
    top:0;
    z-index: 3;
    display: none;
}

.navContainer nav .ul{
    position:absolute;
    height: 170vh;
    padding:0 0 150px;
    width:300px;
    background-color: white;
    border: 2px solid white;
    text-align: left;
    top:0px;
    right: 0%;
    overflow-y: scroll;
    /* display: none; */
}
ul li{
    border-radius: 10px;
}
ul li:hover{
    background-color: var(--bg);
}
.navContainer nav .closeContainerx{
    width: 280px;
    text-align: right;
    background-color: white;
    position: fixed;
    padding:30px 10px;
    border-radius: 0;
    /* border:2px solid black; */
}
.navContainer nav ul .close{
    width:20px;   
}
.navContainer nav .modalNav .firstLi{
    margin:100px 20px 0; 
}
.navContainer nav .modalNav li{
    margin:5px 20px;
    font-weight: 600;
    padding:7px;
}
.navContainer nav .modalNav li p{
    background-color: transparent;
}
.navContainer nav .modalNav li ul{
    position: absolute;
    top:0;
    width:100%;
    padding:30px 0 20px;
    margin:0;
    left:0;
    background-color: white;
    display: none;
}
.navContainer nav .modalNav li ul li{
    border:none;
}
.navContainer nav .modalNav li ul div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border:2px solid black; */
    width:85.5%;
    text-align: center;
    margin-left: 20px;
}
.navContainer nav .modalNav li.inner{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.navContainer nav .modalNav li.inner img{
    width:30px;
    margin:0 20px 0 0px;
}
.navContainer nav .modalNav li.inner p{
    margin:0 0 5px 0;
    background-color: transparent;
}

    /* SECTION STYLING COMMENCE FROM HERE  */
section.bg-1{
    background-image: url(images/Model-S-Main-Hero-Mobile-LHD.jpeg);
    background-position:center;
    background-size: cover;
    background-repeat:no-repeat;
    width: 100%;
    height: 100vh;
    z-index: 1;
    box-shadow: inset 0px -150px 50px black;
}
.bg-1 h1{
    position: absolute;
    padding:100px 0 0;
    width: 100%;
}
.bg-1 .bg-1p{
    position: absolute;
    padding:145px 0 0;
    width: 100%;
}
.bg-1 h2{
    font-size: 22px;
    margin:0 0 10px;
}
.bg-1 p{
    font-size: 15px;
}
.bg-1 .bg-1Bottom{
    position: absolute;
    bottom: 30px;
    width: 100%;
    padding:0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.bg-1 span{
    width:33%;
    margin:10px 0;
    color:var(--secondary);
}
.bg-1 button{
    width:355px;
    padding:15px;
    border:3px solid var(--secondary);
    background-color: transparent;
    color: var(--secondary);
    margin:30px 0 0;
    border-radius: 100px;
    font-weight: 600;
}

.bg-2{
    margin:0;
    background-color: black;
}
.bg-2 h1{
    color:var(--secondary);
    box-shadow: 10px 0px -100px 500px black;
    font-size: 25px;
    padding:30px 0;
    /* border:2px solid red; */
}
.bg-2 .videoAndTextSection{
    position: relative;
}
.bg-2 .videoAndTextSection video{
    /* position: absolute;
    top:0;
    left:0; */
    width:100%;
    height: 200px;
    margin:0;
}
.bg-2 .videoAndTextSection .textArea{
    color:var(--secondary);
    text-align: left;
    padding:30px 20px;
}
.bg-2 .videoAndTextSection .textArea p{
    font-size: 15px;
    margin:20px 0 0;
    line-height: 1.7rem;
}
.bg-3{
    background-color: black;
    padding:100px 0 0;
    color:var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bg-3 div{
    text-align: left;
    padding:20px 0px;
}
.bg-3 .desc{
    padding:20px 20px;
}
.bg-3 #last p{
    padding:10px 0px 40px;
}
.bg-3 h4{
    font-size: 18px;
}
.bg-3 div p{
    font-size: 15.5px;
    margin:20px 0;
    line-height: 1.7rem;
}
.bg-4{
    position: relative;
}
.bg-4 img{
    /* height: 75vh; */
}
.bg-4 .blueAreaFlexed{
    position: absolute;
    top:75%;
    color: var(--secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    padding:20px 30px;
}
.bg-4 .blueAreaFlexed div{
    width:50%;
    margin:0 10px;
    /* border:2px solid black; */
}
.bg-4 .blueAreaFlexed div h2{
    font-size: 21px;
    margin:0 0 5px;
}
.bg-4 .blueAreaFlexed div p{
    font-size: 9px;
}
.bg-5{
    text-align: left;
    padding:20px;
    margin: 0;
}
.bg-5 h4{
    font-weight: 400;
    margin:5px 0;
    color:rgb(116, 116, 116);
}
.bg-5 h2{
   margin:5px 0 15px;
}
.bg-5 p{
    line-height: 1.7rem;
    color:rgb(107, 105, 105);
}
.bg-5 button{
    width:100%;
    margin:20px 0;
    padding:10px;
    font-weight: 500;
    font-size: 14px;
    background-color: transparent;
    border:3px solid black;
    border-radius:100px;
}
.bg-6{
    background-color: rgb(242, 242, 242);
    text-align: left;
    padding:100px 0px 60px;
}
.bg-6 h2,
.bg-6 .first{
    padding:10px 20px;
}
.bg-6 .first{
    padding:20px 20px 50px;
}
.bg-6 aside{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:170%;
    overflow-x: hidden;
    padding:40px 0;
}
.bg-6 aside div:first-child{
    padding:0 20px;
}
.bg-6 aside div h4{
    font-size: 22px;
    margin:10px 0;
}
.bg-6 aside div p{
    line-height: 1.7rem;
    font-size: 16px;
}
.bg-6 aside div.innerSection{
    margin:25px 0;
    /* border:2px solid red; */
}
.bg-6 aside div.innerSection p{
    margin:5px 0 10px;
    line-height: normal;

}
.bg-6 .center{
    text-align: center;
    font-size: 15px;
}
.bg-7{
    background-color: black;
    color:var(--secondary);
}
.bg-7 aside{
    text-align: left;
    padding:30px 0px;
}
.bg-7 aside h4{
    font-weight: 500;
    padding:0px 20px;
}
.bg-7 aside h2{
    margin:5px 0 20px;
    padding:0px 20px;
}
.bg-7 aside p{
    font-size: 15.5px;
    padding:0px 20px;
}
.bg-7 aside button{
    width:90%;
    border:3px solid var(--secondary);
    border-radius:100px;
    padding:10px;
    background-color: transparent;
    color:var(--secondary);
    font-weight: 600;
    margin:30px 20px 60px;
}
.bg-7 aside div h3{
    padding:20px;
    font-size: 17px;
}
.bg-7 aside div p{
    margin:0 0 60px;
    line-height: 1.7rem;
}
.bg-8{
    position: relative;
}
.bg-8 video{
    height: auto;
}
.bg-8 aside{
    position: absolute;
    top:30%;
    display: flex;
    justify-content: space-between;
    width:90%;
    margin:0 20px;
    color:var(--secondary);
}
.bg-8 aside div{
    text-align: center;
}
.bg-8 aside h4{
    font-size: 22px;
    margin:0 0 6px;
}
.bg-8 aside div p{
    font-size: 12px;
    line-height: 1.3rem;
}
.bg-8 div{
    text-align: left;
    padding:35px 20px;
}
.bg-8 div h4{
    font-size: 20px;
    font-weight: 300;
}
.bg-8 div h2{
    margin:0 0 15px;
}
.bg-8 div p{
    line-height: 1.7rem;
    font-size: 15px;
}
.bg-8 div button{
    width:100%;
    border:3px solid var(--primary);
    border-radius:100px;
    padding:10px;
    background-color: transparent;
    color:var(--primary);
    font-weight: 400;
    margin:40px 0px 100px;
}
.bg-9{
    text-align: left;
}
.bg-9 h2,
.bg-9 p{
    font-weight: 400;
    padding:30px 20px 10px;
}
.bg-9 p{
    font-size: 15px;
    line-height: 1.7rem;
    margin:0 0 20px;
}