@import url('https://fonts.googleapis.com/css2?family=Alata&family=Amatic+SC:wght@400;700&family=Bai+Jamjuree:wght@400;600&family=Barlow+Semi+Condensed:wght@600;700&family=Barlow:wght@400;600&family=Be+Vietnam+Pro:wght@400;500;700&family=Big+Shoulders+Display:wght@700&family=Commissioner:wght@400;500;700&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Inter:wght@300;400;500;700&family=Josefin+Sans:wght@300;400;700&family=Karla:wght@400;700&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@500;600;700&family=Lexend+Deca&family=Manrope:wght@500;600;700;800&family=Noto+Sans:wght@400;500;600;700&family=Open+Sans:wght@400;700&family=Outfit:wght@400;700;800&family=Overpass:wght@300;600&family=Poppins:wght@500;700&family=Public+Sans:wght@300;400;700&family=Raleway:wght@400;700&family=Red+Hat+Display:wght@500;700;900&family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,400&family=Space+Mono:wght@700&family=Ubuntu:wght@400;500;700&display=swap');
:root{
    --primary:rgb(36, 36, 36);
    --secondary:white;
    --tertiary:black;
    --bg:rgba(103, 102, 102, 0.73);
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 0% auto;
    position: relative;
    font-family: 'Noto Sans', sans-serif;
    /* font-family: Gotham; */
}
.navContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 50px;
    position: fixed;
    width:100%;
    z-index: 3;
}
svg{
    width:10%;
}
a{
    text-decoration: none;
    color:var(--tertiary);
}
ul li{
    list-style: none;
    border-radius: 15px;
    transition: background-color .2s ease-in;
    padding:7px 10px;
}
ul li a{
    margin:0 5px;
}
ul li:hover{
    background-color: var(--bg);
}
.centerNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lastNav{
    display: flex;
    position: relative;
}
.lastNav li{
    margin:0 10px;
}
.lastNav li ul{
    display: none;
    position: absolute;
    top:0;
    right:0;
    height: 100vh;
    border:2px solid var(--tertiary);
    width:250px;
}
.lastNav li ul a{
    margin:10px 0px;
}

/* SECTIONS */
section{
    height:100vh;
    position: relative;
    top:0px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    padding:50px 0 0;
    background-position: center;
}
.bg-model-3{
    background-image: url(images/M3-Homepage-Desktop-LHD.jpeg);
}
.bg-model-y{
    background-image: url(images/Desktop-ModelY.jpeg);
}
.bg-model-s{
    background-image: url(images/Homepage-Model-S-Desktop-LHD.jpeg.crdownload);
}
.bg-model-x{
    background-image: url(images/Homepage-Model-X-Desktop-LHD.jpeg);
}
.bg-4{
    background-image: url(images/_25-HP-SolarPanels-D.jpeg);
}
.bg-5{
    background-image: url(images/Homepage-SolarRoof-Desktop-Global);
}
.bg-6{
    background-image: url(images/chargert.jpeg);
}
section h1{
    font-size: 40px;
    margin:10px 0 15px;
}
section p{
    font-size: 20px;
    margin:0 0 10px;
}
section p a{
    text-decoration: none;
    border-bottom: 1px solid var(--tertiary);
    color:var(--tertiary);
}
section .buttonSection{
    position: absolute;
    bottom: 15%;
    left:30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
section .buttonSection button{
    padding:15px  50px;
    /* width:100%; */
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 50px;
    border:none;
    outline: none;
    color:var(--primary);
    font-weight: 800;
    letter-spacing: .1rem;
}
section .buttonSection .firstBtn{
    padding:15px 80px;
    margin:0 20px 0 0;
    background-color:var(--primary);
    color:white;
}